<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Slider:+
    1.title
    2 description
    3 image

    Rasta:+
    1.title
    2 description
    3 image

    Bozor haqida:+
    1.title
    2.description
    3. body

    E'lonlar :
    1. title
    2.description
    3.body
    4. image

    Aloqa:
    formadagi ustunlar

    ochiq ma'lumotlar:
    1. title
    2. description
    3. body
    4. image
</body>
</html>
